.homeContainer {
    width: 1120px;
    margin: 0 auto;
    padding: 0 2rem;

    .homeContent {
        max-width: 720px;
        margin: 2rem auto 0;

        .bioContainer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 4rem 0 2rem 0;

            img {
                border-radius: 100%;
            }

            section {
                margin-left: 2rem;

                h1 {
                    font-size: 2rem;
                    font-weight: 900;
                    width: 100%;
                    color: var(--green-400);
                    margin-bottom: 1rem;
                }

                p {
                    line-height: 2rem;
                    font-size: 1.125rem;
                    color: var(--gray-100);
                }
            }

        }

        .experienceContainer {
            padding: 2rem;
            display: flex;
            flex-direction: column;
            margin-bottom: 2rem;
            border-top: 1px solid var(--gray-800);


            h1 {
                font-size: 2rem;
                font-weight: 900;
                color: var(--green-400);
                margin-bottom: 1rem;
            }

            .listContainer {
                width: 100%;
                color: var(--gray-100);
                line-height: 2rem;

                .listItem {
                    display: flex;
                    flex-wrap: wrap;
                    margin-top: 1rem;

                    time {
                        color: var(--gray-300);
                        font-size: 0.98rem;
                        width: 100%;
                    }

                    p {
                        strong {
                            margin-right: 1rem;
                            font-size: 1.2rem;
                        }
                    }
                }
            }

        }

        .linksContainer {
            padding: 2rem;
            margin-bottom: 2rem;
            border-top: 1px solid var(--gray-800);

            h1 {
                font-size: 2rem;
                font-weight: 900;
                color: var(--green-400);
                margin-bottom: 1rem;

                width: 100%;

                text-align: center;
            }

            section {
                display: flex;
                justify-content: space-evenly;
                svg {
                    width: 50px;
                    height: 50px;
    
                    color: var(--green-400);
                }
            }
        }

    }
}